<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Predictions</title>
</head>
<body>
	<style> body { font-family: system-ui, "IBM Plex Sans"; } </style>
	<h1>Stock Predictions</h1>
	<u1>
		{% for stock in data %}
			<li>Stock: {{ stock['Stock'] }}, RS: {{ stock['RS'] }}, RSI: {{ stock['RSI'] }}</li>
			{% if stock.has_image %}
				<img src="{{url_for('static', filename=stock['IMG'])}}" alt="{{ stock.Stock }}">
			{% else %}
				<p>No image available</p>
			{% endif %}
		{% endfor %}
	</u1>
	<h1>
</body>
</html>
